body {
    text-align: center;
    margin: 0;
    font-family:'Merriweather', serif;
}
h1 {
    font-size: 500%;
    margin: 0;
    font-family: 'Sacramento', cursive;
    line-height: 1;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;   
    font-weight: normal;    
}

h3{
    font-family: 'Montserrat', sans-serif;    
}

.hr1{
    border-color: aqua;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0;
    width: 10%;
    margin: 50px auto 50px auto;

}

.hr2{
    border-color: aqua;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0;
    width: 10%;
    margin: auto auto 50px auto;

}


p{
    font-family:'Montserrat', sans-serif ;
}

a{
    font-family:'Montserrat', sans-serif;
    color: aqua;   
    text-decoration: none; 
}

.pro{
    color: aqua;
}

.top-container{
    background-color: rgb(255, 255, 255);
    position: relative;
    padding-top: 100px;
}

.bottom-container{
    line-height: 2;
    background-color: aqua;
    padding: 10px 0;
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    visibility: hidden;
    position: absolute;
    right:300px;
    top: 50px;
}

.bottom-cloud{
    visibility: hidden;
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profilepicture{
    width: 200px;
    height: 200px;
    
}

.coding{
    width: 300px;
    height: 300px;
}

.dumbbell{
    width: 300px;
    height: 300px;
}

.skill-row{
    margin: 100px auto 50px auto;
    width: 50%;
}

.btn {
    line-height: 2;
}



